	<footer class="mt-auto py-5 bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="{{ 'assets/img/MS-V5.svg' | relative_url }}" width="170" style="margin-top:-25px" alt="CLARIAH Media Suite" loading="lazy">
					<p style="padding-left:28px;padding-top: 10px"><span class="text-muted">Version:</span> <a id="footer_site_version" class="text-light" href="{{ '/documentation/release-notes' | relative_url }}">{{ site.version }}</a></p>
				</div>
				<div class="col-sm">
					<nav class="nav flex-column">
						<a class="nav-link text-light" href="{{ '/data' | relative_url }}">Data</a>
						<a class="nav-link text-light" href="{{ '/tools' | relative_url }}">Tools</a>
					</nav>
				</div>
				<div class="col-sm">
					<nav class="nav flex-column">
						<a class="nav-link text-light" href="{{ '/about' | relative_url }}">About</a>
						<a class="nav-link text-light" href="{{ '/learn' | relative_url }}">Learn</a>
						<a class="nav-link text-light" href="{{ '/documentation' | relative_url }}">Help</a>
					</nav>
				</div>
				<div class="col-sm">
					<nav class="nav flex-column">
						<a class="nav-link text-light" href="{{ '/workspace/projects' | relative_url }}">Login</a>
						<a class="nav-link text-light" href="{{ '/documentation/privacy-statement' | relative_url }}">Terms of use and privacy</a>
						<a class="nav-link text-light" href="{{ '/blog' | relative_url }}">Blog</a>
					</nav>
				</div>
			</div>
		</div>
	</footer>

	{% include browser_recommendation.html %}

	{% include user_consent.html %}

	<script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/common.js' | relative_url }}"></script>

	{% include site_tracking.html %}

</body>
</html>