  <footer class="mt-auto py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="{{ 'assets/img/logo.svg' | relative_url }}" width="207" alt="CLARIAH Media Suite" loading="lazy">
          <p><span class="text-muted">Version:</span> <a class="text-light" href="/documentation/release-notes/v4-14">4.14</a></p>
        </div>
        <div class="col-sm">
          <nav class="nav flex-column">
            <a class="nav-link text-light" href="/data">Data</a>
            <a class="nav-link text-light" href="/tools">Tools</a>
          </nav>
        </div>
        <div class="col-sm">
          <nav class="nav flex-column">
            <a class="nav-link text-light" href="/about">About</a>
            <a class="nav-link text-light" href="/learn">Learn</a>
            <a class="nav-link text-light" href="/contact">Contact</a>
          </nav>
        </div>
        <div class="col-sm">
          <nav class="nav flex-column">
            <a class="nav-link text-light" href="/workspace/projects">Login</a>
            <a class="nav-link text-light" href="/documentation/privacy-statement">Terms of use and privacy</a>
            <a class="nav-link text-light" href="https://clariah.github.io/mediasuite-blog/">Blog</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>