<!doctype html>
<html lang="en" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>CLARIAH Media Suite{% if page.title %} - {{ page.title }}{% endif %}</title>

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
	
	<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

</head>
<body id="{{ page.id }}" class="d-flex flex-column h-100">

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="{{ '/' | relative_url }}">
				<img src="{{ '/assets/img/MS-V5.svg' | relative_url }}" width="170" style="margin-top:-25px" alt="CLARIAH Media Suite" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item{% if page.menu == 'data' %} active{% endif %}">
						<a class="nav-link text-light" href="{{ '/data' | relative_url }}">Data</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link text-light dropdown-toggle" href="{{ '/tools' | relative_url }}" id="navbarDropdownTools" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
						<div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownTools">
							<a class="dropdown-item" href="{{ '/tool/collection-inspector' | relative_url }}">Inspect</a>
							<a class="dropdown-item" href="{{ '/tool/single-search' | relative_url }}">Search</a>
							<!-- if user != None and user.id != 'ANONYMOUS' -->
							<a class="dropdown-item" href="{{ '/tool/query-comparison' | relative_url }}">Compare</a>
							<!-- endif  -->
							<a class="dropdown-item" href="{{ '/tool/exploratory-search' | relative_url }}">Explore</a>
						</div>
					</li>
					<!-- if user != None and user.id != 'ANONYMOUS' -->
					<li class="nav-item dropdown">
						<a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownWorkspace" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workspace</a>
						<div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownWorkspace">
							<a class="dropdown-item" href="{{ '/workspace/projects' | relative_url }}">User Projects <span id="project_count" class="badge badge-pill badge-primary">0</span></a>
							<a class="dropdown-item" href="{{ '/workspace/projects/create' | relative_url }}">Create User Project</a>
							<!-- if user and user.attributes and user.attributes.allowPersonalCollections -->
							<a class="dropdown-item" href="{{ '/workspace/collections' | relative_url }}">User Collections <span id="collection_count" class="badge badge-pill badge-primary">0</span></a>
							<a class="dropdown-item" href="{{ '/workspace/collections/create' | relative_url }}">Add user collection</a>
							<!-- endif  -->
							<a class="dropdown-item" href="{{ '/documentation/howtos/jupyter-notebooks' | relative_url }}">Jupyter Notebooks</a>
							<a class="dropdown-item" href="{{ '/workspace/projects?import_workspace=1' | relative_url }}">Import your old workspace</a>
						</div>
					</li>
					<!-- endif -->
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link{% if page.menu == 'about' %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Learn</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ '/documentation' | relative_url }}">Help</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
					</li>
					<!-- if user != None and user.id != 'ANONYMOUS' -->
					<li class="nav-item dropdown">
						<a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
						<div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownAccount">
							<a class="dropdown-item" href="{{ '/logout' | relative_url }}">Logout</a>
						</div>
					</li>
					<!-- else -->
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Login</a>
					</li>
					<!-- endif -->
				</ul>
				<span class="navbar-text">[My username]</span>
			</div>
		</nav>
	</header>
