<!doctype html>
<html lang="en" class="h-100">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>CLARIAH Media Suite{% if page.title %} - {{ page.title }}{% endif %}</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">

</head>
<body id="{{ page.id }}" class="d-flex flex-column h-100">

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/logo.svg' | relative_url }}" width="207" alt="CLARIAH Media Suite" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if page.menu == 'data' %} active{% endif %}">
            <a class="nav-link text-light" href="{{ '/data' | relative_url }}">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light{% if page.menu == 'tools' %} active{% endif %}" href="{{ '/tools' | relative_url }}">Tools</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link{% if page.menu == 'about' %} active{% endif %}" href="{{ '/about' | relative_url }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/documentation/faq' | relative_url }}">Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>