<!doctype html>
<html lang="en" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>CLARIAH Media Suite{% if page.title %} - {{ page.title }}{% endif %}</title>

	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
	
	<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

</head>
<body{% if page.id %} id="{{ page.id }}"{% endif %} class="d-flex flex-column h-100">

{% include nav_header.html %}
