<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-4">
	<a class="navbar-brand" href="{{ '/documentation' | relative_url }}">Help</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavbarCollapse" aria-controls="subNavbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-md-end" id="subNavbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="{{ '/documentation/howtos' | relative_url }}">HowTos</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ '/documentation/faq' | relative_url }}">FAQ</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ '/documentation/glossary' | relative_url }}">Glossary</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ '/documentation/release-notes' | relative_url }}">Release notes</a></li>
		</ul>
		<!--
		<form class="form-inline">
			<input class="form-control mr-sm-2 ml-sm-2" type="search" placeholder="" aria-label="Search">
			<button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
		</form>
		-->
	</div>
</nav>