// Base CSS

// $enable-shadows: true;
$enable-responsive-font-sizes: true;

// Fonts

$font-size-base: .875rem;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 500;

// Colors

$theme-colors: (
	"primary": #468dcb, /* blue */
	"secondary": #f26c50, /* orange */ 
	"light": #faf6f6 /* light pink */
);

$link-color: #f26c50; /* orange */

$list-group-active-color: #212529; /* body font color */
$list-group-active-bg: #faf6f6; /* light pink */
$list-group-active-border-color: rgba(0, 0, 0, 0.125); /* same as non-active */

// Carousel

$carousel-control-color: #333;
$carousel-indicator-active-bg: #333;

// Buttons

$btn-font-family: $headings-font-family;
$btn-border-radius: 2px;

// Navbar

$navbar-nav-link-padding-x: 1rem;

@import "bootstrap/scss/bootstrap.scss";

// Custom CSS

body {
	padding-top: 125px;
}

header, footer {
	font-family: $headings-font-family;
	font-size: 1rem;
}

img {
	max-width: 100%;
	height: auto;
}

.img-animate {
	transition: transform 1s ease-out, box-shadow 1s ease-out;
}

.img-animate:hover {
	transform: scale(1.05);
	box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
}

// Homepage

body#home {
	padding-top: 0;
}

body#home header .bg-dark {
	opacity: 0.8;
}

.banner {
	height: 530px;
	background-image: url('../img/mediasuite-banner.jpg');
	background-size: cover;
	background-position: 50% center;
	background-repeat: no-repeat;
}

.banner-mask {
	background-image: url('../img/banner-mask.jpg');
}

// Carousel styling (TODO: relative positioning, responsive)

#carousel-home {
	margin-top: 160px;
	margin-right: 60px;
	max-width: 500px;
	min-height: 280px;
}

#carousel-home .carousel-item {
	padding: 1rem 15%;
}

// Tutorials

article.tutorial h2, h3, h4, h5 {
	margin-top: 1.5rem;
}

article.tutorial img {
	border: 1px solid #000;
	margin: 1.5rem 0;
}