// Base CSS

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 500;

$theme-colors: (
	"primary": #f26c50 /* Orange */
);

@import "bootstrap/scss/bootstrap.scss";

// Custom CSS

body {
	padding-top: 100px;
}

header, footer {
	font-family: $headings-font-family
}

img {
	max-width: 100%;
	height: auto;
}

.img-animate {
	transition: transform 1s ease-out, box-shadow 1s ease-out;
}

.img-animate:hover {
	transform: scale(1.05);
	box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
}

// Homepage

body#home {
	padding-top: 0;
}

body#home header .bg-dark {
	background-color: rgba(45,52,58,.8) !important;
}

.banner {
	height: 530px;
	background-image: url('../img/mediasuite-banner.jpg');
	background-size: cover;
	background-position: 50% center;
	background-repeat: no-repeat;
}