{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
	<div class="container">
		<div class="row" style="min-height:200px">
			<div class="col-md-4">
				<img src="{{ '/assets/img/clariah-logo.png' | relative_url }}" width="200" alt="CLARIAH">
			</div>
			<div class="col-md-8">
				<p>
					The Media Suite is one of the research environments within the Dutch CLARIAH research infrastructure.
					CLARIAH aims at the realisation of a common infrastructure for the humanities and social sciences.
					<br>
					<a href="https://www.clariah.nl/en/about">Read more about CLARIAH.</a>
					<a href="{{ '/documentation/faq/what-is-it' | relative_url }}">Read more about the Media Suite</a>
				</p>
			</div>
		</div>
		<div class="row" style="min-height:200px">
			<div class="col-md-4">
				<img src="{{ '/assets/img/nwo-logo.png' | relative_url }}" width="200" alt="NWO">
			</div>
			<div class="col-md-8">
				<p>
					CLARIAH is a project funded by NWO. The CLARIAH project is conducted in two phases: CLARIAH Core (2014-2018) CLARIAH Plus (2019-2024).
				</p>
			</div>
		</div>
		<div class="row" style="min-height:200px">
			<div class="col-md-4">
				<img src="{{ '/assets/img/beeldengeluid-logo.png' | relative_url }}" width="200" alt="Beeld en Geluid">
			</div>
			<div class="col-md-8">
				<p>
					The Media Suite is developed at The Netherlands Institute for Sound and Vision (NISV), which is one of the <a href="https://www.clariah.nl/over/organisatie/centra">CLARIAH centers.</a> Read more about <a target="_self" href="{{ '/documentation/faq/who-develops' | relative_url }}">who develops the Media Suite.</a>
				</p>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}