{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
	<div class="container">
		<div class="row justify-content-center py-md-5">
			<div class="col-md-4">
				<p>
					<strong>Troubleshooting? Problems or suggestions in using the Media Suite?</strong>
				</p>
			</div>
			<div class="col-md-6">
				<ul>
					<li>Check our "<a href="/documentation">Learn</a>" pages Or use our <a href="/documentation/forum">Gitter chat rooms.</a></li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-center py-md-5">
			<div class="col-md-4">
				<p><strong>For research and CLARIAH project-related questions:</strong></p>
			</div>
			<div class="col-md-6">
				<ul>
					<li>General questions: <a href="mailto:mediastudies@clariah.nl">mediastudies@clariah.nl</a></li>
					<li>Research coordination: Julia Noordegraaf  (<a href="mailto:J.J.Noordegraaf@uva.nl">J.J.Noordegraaf@uva.nl</a>)</li>
					<li>Technical coordination: Roeland Ordelman (<a href="mailto:rordelman@beeldengeluid.nl">rordelman@beeldengeluid.nl</a>)</li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-center py-md-5">
			<div class="col-md-4">
				<p><strong>Follow us on Twitter:</strong></p>
			</div>
			<div class="col-md-6">
				<ul>
					<li><a href="https://twitter.com/mediasuite_nl">Mediasuite_nl</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}