{% include header.html %}
<main role="main" class="flex-shrink-0 mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-2 offset-md-1">
				<img src="{{ '/assets/img/bigicon-data.d7e8ae27.png' | relative_url }}" class="img-fluid  mb-5" alt="Media Suite Data">
			</div>
			<div class="col-md-8 offset-md-1 pt-2">
				{{ content }}
				<p class="text-center pt-2">
					<a href="http://mediasuitedata.clariah.nl/" class="btn btn-light text-uppercase">Available collections</a>
					<a href="{{ '/tools' | relative_url }}" class="btn btn-light text-uppercase">Search & analyze collections</a>
				</p>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}