{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="{{ '/assets/img/bigicon-data.png' | relative_url }}" width="176" class="mx-auto mb-5" alt="Media Suite Data">
			</div>
			<div class="col-md-8 pt-2">
				{{ content }}
				<p class="text-center pt-2">
					<a href="https://mediasuitedata.clariah.nl/" class="btn btn-light text-uppercase">Available collections</a>
					<a href="{{ '/tools' | relative_url }}" class="btn btn-light text-uppercase">Search & analyze collections</a>
				</p>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}