{% include header.html %}
{% assign items = site.carousel | sort: 'position' %}
<main role="main" class="flex-shrink-0">
	<div class="container-fluid banner">
		<div id="carousel-home" class="carousel slide carousel-fade float-right bg-white shadow" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for item in items %}
				<li data-target="#carousel-home" data-slide-to="{{ item.position | abs | minus: 1 }}"{% if item.position == 1 %} class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for item in items %}
				<div class="carousel-item{% if item.position == 1 %} active{% endif %}" data-interval="10000">
					<div class="card border-0">
						<div class="card-body">
							{% if item.header %}
							<h5 class="card-title">{{ item.header }}</h5>
							{% endif %}
							<p class="card-text text-justify">{{ item.content | strip_html }}</p>
						</div>
						<div class="card-footer border-0 bg-transparent">
							<a href="{{ item.link_url }}" class="card-link btn btn-secondary text-uppercase">{{ item.link_txt }}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<div class="container py-5">
		<div class="card-deck">
			<div class="card text-center border-0">
				<a href="{{ '/data' | relative_url }}"><img src="{{ '/assets/img/bigicon-data.png' | relative_url }}" width="176" class="mx-auto rounded-circle img-animate" alt="Data"></a>
				<div class="card-body">
					<h4 class="card-title">Data</h4>
					<p class="card-text">Access important Dutch audio-visual collections (radio, television, films, oral history interviews) and contextual material. All available collections and their data are registered in a common inventory.</p>
				</div>
				<div class="card-footer border-0 bg-transparent">
					<a href="{{ '/data' | relative_url }}" class="card-link btn btn-secondary text-uppercase">Check out the data</a>
				</div>
			</div>
			<div class="card text-center border-0">
				<a href="{{ '/tools' | relative_url }}"><img src="{{ '/assets/img/bigicon-tools.png' | relative_url }}" width="176" class="mx-auto rounded-circle img-animate" alt="Tools"></a>
				<div class="card-body">
					<h4 class="card-title">Tools</h4>
					<p class="card-text">Use some of the CLARIAH open source tools that allow researchers to perform search, annotation, automatic speech recognition, and other analysis tasks with the available data.</p>
				</div>
				<div class="card-footer border-0 bg-transparent">
					<a href="{{ '/tools' | relative_url }}" class="card-link btn btn-secondary text-uppercase">Use the tools</a>
				</div>
			</div>
			<div class="card text-center border-0">
				<a href="{{ '/workspace' | relative_url }}"><img src="{{ '/assets/img/bigicon-workspace.png' | relative_url }}" width="176" class="mx-auto rounded-circle img-animate" alt="Workspace"></a>
				<div class="card-body">
					<h4 class="card-title">Workspace</h4>
					<p class="card-text">Functional work space and experimental Jupyter notebooks to work with your corpus and user data (bookmarks, annotations, queries, search sessions, and user collections).</p>
				</div>
				<div class="card-footer border-0 bg-transparent">
					<a href="{{ '/workspace' | relative_url }}" class="card-link btn btn-secondary text-uppercase">Discover your workspace</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid banner-mask py-5">
		<div class="d-flex justify-content-center">
			<div class="card text-center border-0 bg-transparent py-5" style="width: 28rem;">
				<img src="{{ '/assets/img/clariah-logo-new.png' | relative_url }}" class="mx-auto" alt="CLARIAH">
				<div class="card-body">
					<p class="card-text">The Media Suite is one of the CLARIAH research environments. CLARIAH is a project funded by the NWO that aims at the realisation of a common infrastructure for the humanities and social sciences.</p>
				</div>
				<div class="card-footer border-0 bg-transparent">
					<a href="https://clariah.nl/" class="card-link btn btn-primary text-uppercase">More information</a>
				</div>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}