{% include header.html %}
<main role="main" class="flex-shrink-0 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="{{ '/assets/img/bigicon-tools.png' | relative_url }}" width="176" class="mx-auto mb-5" alt="Media Suite Tools">
			</div>
			<div class="col-md-8 pt-2">
				{{ content }}
				<p class="text-center pt-2">
					<a href="{{ '/documentation/howtos' | relative_url }}" class="btn btn-light text-uppercase">View documentation</a>
				</p>
			</div>
		</div>
		<div class="card-deck d-flex justify-content-center">
			<div class="card text-center">
				<img src="{{ '/assets/img/icon-inspect.png' | relative_url }}" width="176" class="mx-auto mt-5" alt="Collection inspector">
				<div class="card-body">
					<h5 class="card-title">Inspect</h5>
					<p class="card-text">Supports data criticism by providing various views on collection metadata</p>
					<p>
						<a href="#" class="card-link btn btn-link text-uppercase">Details</a>
						<a href="#" class="card-link btn btn-light text-uppercase">Open</a>
					</p>
				</div>
			</div>
			<div class="card text-center">
				<img src="{{ '/assets/img/icon-search.png' | relative_url }}" width="176" class="mx-auto mt-5" alt="Basic faceted search">
				<div class="card-body">
					<h5 class="card-title">Search</h5>
					<p class="card-text">Supports distant reading, corpus selection and close reading.</p>
					<p>
						<a href="#" class="card-link btn btn-link text-uppercase">Details</a>
						<a href="#" class="card-link btn btn-light text-uppercase">Open</a>
					</p>
				</div>
			</div>
			<div class="card text-center">
				<img src="{{ '/assets/img/icon-explore.png' | relative_url }}" width="176" class="mx-auto mt-5" alt="Exploratory browser">
				<div class="card-body">
					<h5 class="card-title">Explore</h5>
					<p class="card-text">Supports open-ended browsing to facilitate serendipitous discovery.</p>
					<p>
						<a href="#" class="card-link btn btn-link text-uppercase">Details</a>
						<a href="#" class="card-link btn btn-light text-uppercase">Open</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% include footer.html %}